/**
* Footer css
*/

.footer-icon {
    width: 32px;
}

#footer {
    background: #1a1f23;
    font-size: 14px;
}

#copyright {
    background: #14191c;
    font-size: 14px;
}

.footer-section h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.footer-section h2::after {
    content: " ";
    display: block;
    width: 33%;
    height: 2px;
    background: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-section .footer-news-img {
    width: 64px; height: auto;
}

.footer-section .footer-news-item h4{
    font-size: 16px;
    color: red;
}

.footer-section .footer-news-item p{
    font-size: 14px;
}

.social-sharings .input-group-text{
    background-color: #293035;
    border: 0;
    color: #fff;
    width: 40px;
    text-align: center;
    display: inline-block;
}

.social-sharings .btn {
    background: #1e252a;
    border: none;
    color: #fff;
}